{% load static %}

<aside id="sidebar" class="fixed left-0 top-16 h-[calc(100vh-4rem)] bg-darker-morado-transparent flex flex-col justify-between py-6 shadow-lg z-40 w-60 -translate-x-full transition-transform duration-300 ease-in-out">

    <!-- SCROLLBAR -->
    <div id="sidebar-content-scroll" class="flex flex-col items-center flex-grow overflow-y-auto scrollbar-purple">


        <nav class="flex flex-col space-y-2 w-full p-2">
            
            {% include 'partials/_sidebar_link.html' with url_name='home' icon_template_path='partials/sidebar_icons/home.html' text_desktop='Inicio' text_mobile='Inicio' %}

            {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Nuevos' icon_template_path='partials/sidebar_icons/stars.html' text_desktop='Nuevos' text_mobile='Nuevos' %}

            <hr class="border-t border-text-medium my-4">
            <div class="space-y-2">
                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Multijugador' icon_template_path='partials/sidebar_icons/multiplayer.html' text_desktop='Multijugador' text_mobile='Multijugador' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Accion' icon_template_path='partials/sidebar_icons/action.html' text_desktop='Acción' text_mobile='Accion' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Aventuras' icon_template_path='partials/sidebar_icons/compass.html' text_desktop='Aventuras' text_mobile='Aventuras' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Belleza' icon_template_path='partials/sidebar_icons/beauty.html' text_desktop='Belleza' text_mobile='Belleza' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Deportes' icon_template_path='partials/sidebar_icons/sports.html' text_desktop='Deportes' text_mobile='Deportes' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Disparos' icon_template_path='partials/sidebar_icons/target.html' text_desktop='Disparos' text_mobile='Disparos' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Puzzle' icon_template_path='partials/sidebar_icons/puzzle.html' text_desktop='Puzzle' text_mobile='Puzzle' %}

                {% include 'partials/_sidebar_link.html' with url_name='post_by_category' url_args='Terror' icon_template_path='partials/sidebar_icons/ghost.html' text_desktop='Terror' text_mobile='Terror' %}
            </div>
        <hr class="border-t border-text-medium">
        <h3 class="text-sm font-semibold text-text-medium uppercase px-4 mb-2 hidden lg:block">
        </h3>
        <!-- FOOTER -->
        {% include 'components/commons/footer.html' %}
        </nav>
    </div>

</aside>