{% load static %}

<aside class="fixed left-0 top-0 h-full w-20 bg-darker-morado flex flex-col items-center py-6 shadow-lg z-20">
    <a href="{% url 'home' %}" class="mb-8">
        <img src="{% static 'assets/favicon1.png' %}" alt="Logo Hit or Quit"
            class="rounded-full w-10 h-10 object-cover">
    </a>

    <nav class="flex flex-col space-y-6">
        <a href="{% url 'home' %}"
            class="text-text-medium hover:text-text-light flex flex-col items-center p-2 rounded-md transition-colors duration-200">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m0 0l-7 7m7-7v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
            </svg>
            <span class="text-xs mt-1">Inicio</span>
        </a>
        <a href="#"
            class="text-text-medium hover:text-text-light flex flex-col items-center p-2 rounded-md transition-colors duration-200">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9 0 0120.488 9z"></path>
            </svg>
            <span class="text-xs mt-1">Juegos</span>
        </a>
        <a href="#"
            class="text-text-medium hover:text-text-light flex flex-col items-center p-2 rounded-md transition-colors duration-200">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 4v16M17 4v16M3 8h4m-4 8h4m10-8h4m-4 8h4M7 8a4 4 0 11-8 0 4 4 0 018 0z"></path>
            </svg>
            <span class="text-xs mt-1">Categorías</span>
        </a>
        {# Puedes añadir más elementos de menú aquí #}
    </nav>
</aside>