asgiref==3.9.1
colorama==0.4.6
distlib==0.3.9
Django==5.2.4
django-browser-reload==1.18.0
filelock==3.18.0
mysql-connector-python==9.3.0
pillow==11.3.0
platformdirs==4.3.8
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.31.2
