<a href="{% url url_name %}"
    class="text-text-medium hover:text-text-light flex flex-col lg:flex-row items-center justify-center lg:justify-start p-2 rounded-md transition-colors duration-200">
    <svg class="w-6 h-6 shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ svg_path_d }}"></path>
    </svg>
    <span class="text-xs mt-1 lg:ml-2 lg:text-sm hidden lg:block">{{ text_desktop }}</span>
    <span class="text-xs mt-1 lg:hidden">{{ text_mobile }}</span>
</a>