{% if url_args %}
    <a href="{% url url_name url_args %}"
    class="text-white hover:text-text-light flex flex-col lg:flex-row items-center justify-center lg:justify-start p-2 rounded-md transition-colors duration-200">
{% else %}
    <a href="{% url url_name %}"
    class="text-white hover:text-text-light flex flex-col lg:flex-row items-center justify-center lg:justify-start p-2 rounded-md transition-colors duration-200">
{% endif %}
    
    <!-- Contenido del archivo SVG que le pasemos -->
    {% include icon_template_path %}

    <span class="text-sm mt-1 lg:ml-2 lg:text-lg hidden lg:block p-1">{{ text_desktop }}</span>
    <span class="text-sm mt-1 lg:hidden p-1">{{ text_mobile }}</span>
</a>
