{% extends 'base.html' %}


{% block content %}
<h1>Buenas noches!!!</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Quam commodi explicabo corrupti ab. Placeat facere explicabo 
    harum veniam nulla rem, repellendus, amet voluptas, nemo unde 
    nihil voluptatibus. Placeat eveniet ratione, tenetur itaque 
    blanditiis a perferendis obcaecati iure? Et sequi 
    consectetur esse recusandae culpa sint. Velit reprehenderit 
    quam, sit rem labore amet aperiam repudiandae totam in veritatis 
    consequatur expedita numquam hic eaque, officia similique 
    et quo earum! Ad, quasi id veniam eveniet non suscipit deserunt 
    molestiae voluptatum eos natus officiis illum necessitatibus corporis 
    inventore modi nam, quo, adipisci facere tempora? Numquam labore incidunt 
    unde aperiam sapiente dignissimos praesentium amet repudiandae perspiciatis!
</p>
{% endblock %}
    

    