{% extends 'layouts/auth_layout.html' %}
{% load static %}

{% block title_layout %} | Mi Perfil {% endblock title_layout %}

{% block content_layout %}
<div class="min-h-screen flex items-center justify-center bg-fixed bg-center bg-cover" style="background-image: url('{% static 'assets/login_register/fondo.png' %}');">
    <div class="relative w-full max-w-3xl px-8"> 

        <form method="post" enctype="multipart/form-data" class="flex flex-col p-10  rounded-3xl bg-darker-morado-transparent border-2 border-accent-blue shadow-md">
            {% csrf_token %}

            <div class="relative mt-2 mb-4 text-xl font-bold text-light text-center">Editar Perfil</div> 

            {% if form.errors %}
                <div class="msg py-3 text-center text-status-hot">
                    Por favor, corrige los siguientes errores:
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="relative w-44 h-44 rounded-full overflow-hidden mx-auto my-4 border-2 border-accent-blue flex items-center justify-center">

                {% if user.avatar %}
                    <span id="user-avatar-container" class="flex items-center justify-center">
                        <img src="{{ user.avatar.url }}" 
                            alt="Avatar de {{ user.alias|default:user.username }}" 
                            class="w-44 h-44 rounded-full object-cover"
                            onerror="replaceWithIcon(this);"
                        >
                    </span>
                {% else %}
                    <i class="fa fa-user text-6xl"></i>
                {% endif %}
            </div>

            <div class="relative w-full mb-8 text-center">

                <label for="{{ form.avatar.id_for_label }}" class="py-2 content-center block">Modificar Avatar: </label>
                <input type="file" name="avatar" id="{{ form.avatar.id_for_label }}" class="sr-only" onchange="this.nextElementSibling.textContent = this.files.length > 0 ? this.files.item(0).name : 'Seleccionar archivo'">
                <label for="{{ form.avatar.id_for_label }}" class="inline-flex items-center justify-center px-3 py-2 bg-accent-blue text-light font-semibold rounded-full cursor-pointer hover:bg-accent-blue-hover focus:outline-none focus:ring-2 focus:ring-accent-blue focus:ring-opacity-50">
                    Seleccionar archivo
                </label>

                <!-- Botón para eliminar avatar -->
                <button type="submit" name="remove_avatar"
                   class="ml-4 inline-flex items-center justify-center px-3 py-2 bg-accent-blue text-light font-semibold rounded-full hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50">
                    Quitar avatar
                </button>
            </div>

            <div class="relative w-full mb-6">
                <label for="{{ form.alias.id_for_label }}" class=" mb-1 block">Alias</label>
                {{ form.alias }}
            </div>

            <div class="relative w-full mb-6">
                <label for="{{ form.bio.id_for_label }}" class=" mb-1 block">Biografía</label>
                {{ form.bio }}
            </div>

            <div class="relative w-full mb-6">
                <label for="{{ form.username.id_for_label }}" class=" mb-1 block">Nombre de Usuario</label>
                {{ form.username }}
            </div>

            <div class="relative w-full mb-6">
                <label for="{{ form.email.id_for_label }}" class=" mb-1 block">Correo Electrónico</label>
                {{ form.email }}
            </div>

            <div class="py-8 btn-container self-center">
                <input type="submit" value="Guardar cambios"
                       class="content-center px-8 py-3 bg-accent-blue text-light font-semibold text-lg rounded-xl
                               transition duration-300 hover:bg-accent-blue-hover cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
            </div>

            <div class="text-light text-center mt-4 text-base">
                  <a href="{% url 'change_password' %}" class="text-medium hover:text-light">Cambiar Contraseña</a>
            </div>
            
            <div class="text-light text-center mt-4 text-base">
                <a href="{% url 'user_profile' %}" class="text-medium hover:text-light">Volver al perfil</a>
            </div>
            <div class="text-light text-center mt-4 text-base">
                <a href="{% url 'home' %}" class="text-medium hover:text-light">Volver a la página principal</a>

            </div>
        </form>
    </div>
</div>

{% endblock content_layout %}

{% block scripts %}

<script>
    function replaceWithIcon(imgElement) {
        // Obtenemos el contenedor de la imagen
        const parentContainer = document.getElementById('user-avatar-container');
        if (parentContainer) {
            // Creamos el nuevo elemento de icono
            const iconElement = document.createElement('i');
            iconElement.className = 'fa fa-user text-6xl';
            
            // Reemplazamos la imagen que falló por el nuevo icono
            parentContainer.replaceChild(iconElement, imgElement);

            // Evitamos un bucle infinito si el icono también falla
            imgElement.onerror = null; 
        }
    }
</script>

{% endblock scripts %}