<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReseñasVideoJuegos</title>
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <!-- <li>
                <a href="/dashboard">Panel</a>
            </li> -->
            <!-- SI EL USUARIO YA ESTA REGISTRADO Y LOGUEADO EL SIST VA A DAR LA OPCION PARA CERRAR SESION -->
            {% if user.is_authenticated %}
            <li>
                <a href="/logout">Cerrar sesión</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Registrarse</a>
            </li>
            <li>
                <a href="/signin">Iniciar sesión</a>
            </li>

            {% endif %}

        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>