
<!-- PAG EDITAR PERFIL -->
{% block content %}
<h1>Editar perfil</h1>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar cambios</button>
</form>

{% endblock %}


<!-- {% extends 'layouts/base_layout.html' %}

{% block title_layout %}
| Mi Perfil 
{% endblock title_layout %}

{# No se define el bloque 'sidebar_layout' aquí, por lo tanto, no aparecerá el sidebar #}

{% block content_layout %}
    <h1>Bienvenido a tu perfil</h1>
    <p>Aquí verás la información de tu cuenta.</p>
    {# Contenido específico del perfil #}
{% endblock content_layout %} -->