<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReseñasVideoJuegos</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/user_dashboard">Panel</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/user_logout">Cerrar sesión</a>
            </li>
            {% else %}
             <li>
                <a href="/user_signup">Inscribirse</a>
            </li>
            <li>
                <a href="/user_signin">Iniciar sesión</a>
            </li>
            
            {% endif %}

        </ul>
    </nav>
    
    {% block content %}
    {% endblock %}

</body>
</html>